@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  background-color: #D5E1EE;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Outfit', sans-serif;
  margin: 0 auto;
  max-height: 100vh;
  
};

h2 {
  font-weight: 700;
  padding: 0px 10px;
  
}

h2, p {
  text-align: center;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: grey;
  padding: 0px 15px;
  margin-bottom: 40px;
}



.qr {  
  background-color: white;
  width: 320px;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 10px;
}


.qr__image {
  width: 288px;
  height: 288px;
  border-radius: 10px;
}

.qr__text {
  text-align: center;
  width: 288px;
}

.footer {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  

.attribution {
  font-size: 11px;
  text-align: center;
};

.attribution a {
  color: hsl(228, 45%, 44%);
};